@import '../../styles/variables';

.cart {
    display: flex;
    width: 100%;

    @include sm {
        flex-direction: column;
    }

    section {

        &:first-child {
            width: calc(75% - 10px);
            margin-right: 10px;

            display: flex;
            flex-direction: column;
            transition: 0.3s ease-in-out;

            @include md {
                width: calc(65% - 10px);

            }

            @include sm {
                width: calc(100% - 10px);
                margin-top: 10px;
                border: 1px solid #CEC7B8;
                background: #161616;
                height: 100%;
            }


            .ticket {

                background: #161616;
                border: 1px solid #CEC7B8;
                margin-top: 10px;
                // height: 40%;
                max-height: 230px;
                display: flex;
                justify-content: space-between;

                @include sm {
                    height: 100%;
                    border: none;
                    margin-top: 0;
                    margin-left: 16px;
                    margin-right: 16px;
                    border-bottom: 1px solid #CEC7B8;
                    max-height: 100px;
                }

                span {
                    height: 46px;
                    background: #CEC7B8;
                    width: 2px;
                    margin-top: -3px;
                    margin-left: 13px;
                    margin-right: 18px;
                }

                .amountWrapper {
                    position: relative;
                    transition: 0.3s ease-in-out;

                    @include sm {
                        display: none;
                    }

                    hr {
                        width: 248px;
                        height: 2px;
                        background: #AB452F;
                        border: none;
                        position: absolute;
                        right: 47px;
                        top: 73px;
                        transition: 0.5s ease-in-out;

                        @include xl {
                            width: 210px;
                        }

                        @include md {
                            right: 7px;
                            width: 183px;
                        }

                    }
                }

                .container {
                    display: flex;

                    @include md {
                        flex-direction: column;
                        padding-left: 10px;
                        padding-top: 10px;
                    }

                    h2 {
                        font-family: 'Teko';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 46px;
                        line-height: 50px;
                        /* or 109% */

                        text-transform: uppercase;
                        color: #CEC7B8;

                        height: 64px;
                        margin: 0;
                        margin-left: 40px;
                        margin-top: 52px;

                        @include xl {
                            margin-left: 20px;
                            font-size: 36px;
                        }

                        @include md {
                            margin-left: 14px;
                            font-size: 30px;
                            height: 50px;
                            margin-top: 0;
                        }

                        @include sm {
                            margin-left: 14px;

                            font-size: 24px;
                            line-height: 50px;
                            margin-top: 8px;
                            height: 39px;

                        }
                    }

                    p {
                        font-family: 'Comfortaa';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 29px;
                        /* or 181% */
                        white-space: pre-line;
                        text-transform: capitalize;
                        color: #CEC7B8;

                        height: 65px;
                        margin: 0;
                        margin-left: 40px;

                        @include xl {
                            margin-left: 20px;
                            font-size: 13px;
                        }

                        @include md {
                            margin-left: 16px;
                            font-size: 12px;
                            line-height: 19px;
                            height: 45px;
                        }

                        @include sm {
                            margin-left: 14px;
                            font-size: 12px;
                            line-height: 19px;
                        }

                        @include xs {
                            font-size: 11px;
                        }
                    }
                }
            }

            .img {
                background-repeat: no-repeat;
                background-size: auto;
                background-size: cover;
                background-image: url("../../assets/ticketImg.png");
                width: 327px;
                height: 131px;
                margin: 50px 0px 50px 65px;
                transition: 0.3s ease-in-out;

                @include xl {
                    width: 300px;
                    height: 120px;
                    margin: 50px 0px 50px 31px;
                }

                @include md {
                    width: 275px;
                    height: 127px;
                    margin: 0;
                }

                @include sm {
                    width: 155px;
                    height: 62px;
                    margin: 19px 0px 19px 0px;
                }
            }

            .empty {

                height: 100%;
                background: #161616;
                border: 1px solid #CEC7B8;
                margin-top: 10px;
                margin-bottom: 10px;

                @include sm {
                    display: none;
                }
            }

        }

        &:nth-child(2) {
            background: #161616;
            border: 1px solid #CEC7B8;
            margin-top: 10px;
            width: calc(25% - 10px);
            margin-bottom: 10px;
            padding: 10px;
            transition: 0.3s ease-in-out;

            @include md {
                width: calc(35% - 10px);

            }

            @include sm {
                display: none;
            }

            .wrapper {

                padding: 1px;
                background-color: #ab452f;
                height: 100%;
            }
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .logo {
        background-image: url("../../assets/blackLogo.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-size: cover;
        height: 52px;
        width: 44px;
        margin: 0 auto;
        margin-top: 4vh;
    }

    .title {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        /* identical to box height, or 179% */

        text-align: center;
        text-transform: uppercase;
        text-align: center;
        display: block;
        color: #131313;
    }

    .final {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */

        text-transform: uppercase;
        text-align: center;
        color: #131313;
        margin-top: 4vh;
        margin-bottom: 1vh;
    }

    .price {
        text-align: center;

        p {
            font-family: 'Teko';
            font-style: normal;
            font-weight: 300;
            line-height: 46px;
            /* or 52% */

            text-transform: uppercase;

            &:nth-child(1) {

                font-size: 45px;

                // margin-top: 0;
                color: #131313;
                margin-bottom: 0;
                margin-top: 3vh;

                @include xl {
                    font-size: 36px;
                    margin-top: 2vh;
                }
            }

            &:nth-child(2) {

                font-size: 88px;
                margin-top: 3vh;
                margin-bottom: 3vh;
                color: #101010;

                @include xl {

                    font-size: 76px;
                    margin-top: 2vh;
                    margin-bottom: 2vh;

                }

            }
        }
    }


    .promoArray {
        transition: 0.3s ease-in-out;
        margin-left: 43px;
        margin-right: 49px;

        @include xl {
            margin-left: 33px;
            margin-right: 35px;
        }

        .item {
            display: flex;
            height: 26px;
            justify-content: space-between;
            transition: 0.3s ease-in-out;

        }

        button {
            background: transparent;
            border: none;
            cursor: pointer;

            background-image: url("../../assets/delete.png");
            background-repeat: no-repeat;
            background-size: auto;
            height: 12px;
            background-color: #161616;
            padding: 10px;
            border-radius: 50%;
            background-position: 50% 50%;
            margin-top: 1px;

        }

        p {

            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
            /* or 185% */

            text-transform: capitalize;

            color: #161616;
        }
    }

    .buytBtn {
        text-align: center;

        button {


            cursor: pointer;
            border: 1px solid #131313;
            font-family: 'Teko';
            font-style: normal;
            font-weight: 300;
            font-size: 44px;
            line-height: 46px;
            /* or 105% */

            text-transform: uppercase;

            color: #101010;
            width: 267px;
            height: 70px;
            padding-top: 14px;
            padding-bottom: 21px;
            background: transparent;

            margin-bottom: 0;
            margin-top: auto;

            @include xl {
                font-size: 37px;
                line-height: 38px;

                width: 220px;
                height: 58px;
            }
        }
    }


    .headerText {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        /* or 183% */
        margin: 0 auto;
        text-align: center;
        text-transform: capitalize;
        max-width: 308px;
        color: #131313;
    }




    .priceText {
        line-height: 46px;
        height: 35px;

        font-family: 'Teko';
        font-style: normal;
        font-weight: 300;
        font-size: 44px;
        // line-height: 46px;
        /* or 105% */
        margin: 0;
        text-transform: uppercase;

        color: #CEC7B8;

        @include xl {
            font-size: 36px;
        }

    }

    .NewpriceText {
        font-family: 'Teko';
        font-style: normal;
        font-weight: 300;
        font-size: 31px;
        line-height: 46px;
        /* or 148% */

        text-transform: uppercase;
        height: 35px;
        margin: 0;
        color: #CEC7B8;
    }

    .priceAmount {
        font-size: 46px;
        line-height: 46px;
        color: #5AB4E7;
        height: 54px;

        font-family: 'Teko';
        font-style: normal;
        font-weight: 300;

        /* or 100% */
        margin: 0;

        text-transform: uppercase;

        @include xl {
            font-size: 38px;
        }
    }

    .NewpriceAmount {

        font-family: 'Teko';
        font-style: normal;
        font-weight: 300;
        font-size: 31px;
        line-height: 46px;
        /* or 148% */

        text-transform: uppercase;

        color: #CEC7B8;
        height: 35px;
        margin: 0;
    }

    .priceDeducted {
        display: flex;
        margin-top: 55px;
        margin-right: 70px;
        margin-left: -23px;
        transition: 0.3s ease-in-out;

        @include md {
            margin-right: 0;
            margin-left: 33px;
        }
    }

    .priceE {
        display: flex;
        margin-top: 100px;
        margin-right: 70px;
        transition: 0.3s ease-in-out;

        @include md {
            margin-right: 20px;

        }
    }

    .Newprice {
        display: flex;
        margin-top: 20px;
        margin-right: 70px;
        margin-left: -3px;
        transition: 0.3s ease-in-out;

        @include md {
            margin-right: 27px;
            margin-left: 40px;
        }
    }

    .codeWrapper {
        position: relative;
        margin-left: 35px;
        margin-right: 38px;
        margin-top: 3vh;

        @include xl {
            margin-left: 25px;
            margin-right: 25px;

        }

        button {
            background: transparent;
            outline: none;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* or 150% */

            text-transform: capitalize;

            color: #161616;
            border: none;
            position: absolute;
            display: flex;
            top: 0px;
            right: 5px;
            cursor: pointer;

            @include xl {
                font-size: 13px;
                top: -3px;
            }

            span {
                background-image: url("../../assets/send.png");
                background-repeat: no-repeat;
                background-size: auto;
                background-size: cover;
                height: 20px;
                width: 20px;
                display: block;
                margin-left: 10px;
                cursor: pointer;

            }
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        outline: none !important;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #161616 !important;
    }

    input {
        font-family: "Comfortaa";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        background: transparent;
        outline: none !important;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #161616;
        width: 100%;
        color: #161616;
        background-color: rgba(0, 0, 0, 0);

        padding-bottom: 5px;
        text-transform: capitalize;
        padding-right: 95px;
        padding-left: 4px;

        @include xl {
            font-size: 13px;
            padding-bottom: 0px;

        }

        &::placeholder {
            font-family: "Comfortaa";
            padding-left: 5px;
            color: #161616;
        }
    }
}

.cartModal {
    height: 100%;
    flex-direction: column;
    // position: fixed;
    bottom: 0;
    right: 0;
    max-height: 470px;
    z-index: 1;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    padding: 0;
    height: 86vh;
    background-color: #000000;

    @include smMin {
        display: none;
    }

    .cartModalHeader {

        transition: 0.3s ease-in;
        background-color: #AB452F;
        border-radius: 40px 40px 0px 0px;
        padding-top: 2vh;
        border-bottom: 1px solid #ffffff;
        min-height: 390px;
        width: 100%;

        @include sm {
            bottom: 0;
        }
    }

    .codeWrapper {
        margin-left: 12vw;
        margin-right: 12vw;
        margin-top: 2vh;
    }

    .cartModalFooter {
        width: 100%;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        background-color: #AB452F;
        margin-top: 10px;
        margin-bottom: 10px;

        p {
            font-family: 'Teko';
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 46px;
            /* or 115% */

            text-transform: uppercase;
            text-align: center;
            padding-top: 13px;
            color: #101010;
        }

    }

    .final {
        margin-bottom: 16px;

        margin-top: 16px;

    }

    .logo {
        margin-top: 0;
    }

    .title {
        margin-top: 5px;
    }

    .price {
        p {

            font-family: 'Teko';
            font-style: normal;
            font-weight: 300;
            font-size: 44px !important;
            line-height: 46px;
            /* or 105% */

            text-transform: uppercase;
            color: #101010;
        }

        margin-top: 44px;
    }
}





.actionBtn {
    position: fixed;
    z-index: 100;
    bottom: 80px;
    right: 40px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background: coral;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    @include smMin {
        display: none !important;
    }
}

.actionBtn:after {
    content: ' ';
    display: block;
    background: #fff;
    height: 20%;
    width: 20%;
    border-radius: 50%;
}

.bg {
    width: 100%;
}

.bg>img {
    width: 100%;
    margin: 0;
    display: block;
}

.sheet {
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0;
    height: calc(100vh + 60px);
    border-radius: 12px 12px 0px;
    touch-action: none;
    border-radius: 40px 40px 0px 0px;

    @include smMin {
        display: none !important;
    }

    hr {
        width: 75px;
        background: #AB452F;
        border-radius: 9px;
        height: 4px;
        border: none;
        margin: 0 auto;
        margin-bottom: 11px;
    }
}


.sheet>div {
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-transform: capitalize;
}