.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        display: flex;
        width: 100%;
        flex: 1 1;
        // padding-left: 10px;
        border-left: 1px solid #cec7b8;
        border-right: 1px solid #cec7b8;
    }

    .menuLayout {
        display: flex;
        width: 100%;
        flex: 1 1;
        // padding-left: 10px;
        border-left: 1px solid #cec7b8;
        border-right: 1px solid #cec7b8;
    }

    footer {
        padding-left: 10px;
        height: 79px;
        display: flex;
        border-left: 1px solid #cec7b8;
        border-right: 1px solid #cec7b8;
    }
}
