@import '../../../styles/variables';

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 32px 23px 20px;

  h3 {
    font-size: 30px;
    color: #cec7b8;
    width: 257px;
    line-height: 34px;
    text-transform: uppercase;

    @include useTeko;
  }

  .bottomWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;

    .textWrap {
      display: flex;

      p {
        font-size: 14px;
        line-height: 22px;
        width: 308px;
        color: #5ab4e7;

        @include useComfortaa;
      }

      i {
        background-color: #5ab4e7;
        width: 2px;
        margin-right: 28px;
        height: auto;
      }
    }

    .coutWrap {
      color: #cec7b8;

      @include useTeko;

      .total {
        font-size: 120px;
        line-height: 46px;
        margin-right: 10px;
      }

      .info {
        text-transform: uppercase;
        font-size: 44px;
        line-height: 46px;
      }
    }
  }
}
