.contact {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 1180px) {
    flex-direction: column;
  }

  .contactform {
    flex: 1 1 33%;
    padding: 43px 47px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: 1180px) {
      padding: 15px 22px 2px 15px;
    }

    h2 {
      font-family: 'Teko';
      font-size: 30px;
      font-weight: 300;
      line-height: 34px;
      letter-spacing: 0em;
      text-transform: uppercase;
      color: #cec7b8;
    }
    p {
      font-family: 'Comfortaa';
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      color: #cec7b8;
      margin-top: 60px;
      margin-bottom: 140px;
      max-width: 600px;
      text-transform: capitalize;
    }
    form {
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active,
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        outline: none !important;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #cec7b8 !important;
      }

      @media only screen and (max-width: 1180px) {
        margin-bottom: 40px;
      }

      input {
        font-family: 'Comfortaa';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        background: transparent;
        outline: none !important;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #cec7b870;
        padding: 5px;
        width: 100%;
        color: #cec7b8;
        background-color: transparent;

        &:nth-child(2) {
          margin-top: 30px;
        }

        &::placeholder {
          color: #cec7b8;
          font-family: 'Comfortaa';
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          text-transform: capitalize;
        }
      }

      textarea {
        background: transparent;
        border: none;
        width: 100% !important;
        outline: none;
        color: #cec7b8;
        height: 150px;
        font-family: 'Comfortaa';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        box-sizing: border-box;
        border-bottom: 1px solid #cec7b870;
        padding: 5px;
        resize: none;

        &::placeholder {
          color: #cec7b8;
          font-family: 'Comfortaa';
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          text-transform: capitalize;
          position: absolute;
          bottom: 5px;
        }
      }

      button {
        border: none;
        background: transparent;
        font-family: 'Comfortaa';
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: #cec7b8;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::after {
          content: url(../../assets/sendicon.png);
          width: 20px;
          height: 20px;
          margin-left: 15px;
        }
      }
      .formfooter {
        display: flex;
        justify-content: flex-end;
        margin-top: 70px;
        align-items: flex-end;

        input {
          border: none;
        }

        .inputspan {
          flex-direction: row;
          display: flex;
          span {
            text-transform: capitalize;
            font-family: 'Comfortaa';
            font-weight: 400;
            color: #cec7b8;
            line-height: 24px;
            display: flex;
            align-items: center;

            &:nth-child(1) {
              font-size: 14px;
              cursor: pointer;

              &::before {
                content: url(../../assets//imgicon.png);
                margin-right: 11px;
              }
            }

            &:nth-child(2) {
              font-size: 10px;

              @media only screen and (max-width: 1180px) {
                display: none;
              }

              &::before {
                content: '';
                display: flex;
                width: 1px;
                height: 28px;
                background-color: #c4c4c4;
                margin-right: 10px;
                margin-left: 7px;
              }
            }
          }
        }
      }
    }
  }
  .map {
    flex: 1 1 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/map.jpg);
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 1180px) {
      padding: 250px 0;
    }

    div {
      border: 1px solid #cec7b8;
      display: flex;
      align-items: center;
      border-radius: 50%;
      width: 160px;
      height: 160px;
      flex-direction: column;
      justify-content: center;

      img {
        width: 40px;
        height: 40px;
      }
      span {
        font-family: 'Comfortaa';
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        color: #cec7b8;
        text-transform: uppercase;
        margin-top: 8px;
      }
    }
  }
  .contactinfo {
    flex: 1 1 33%;
    color: #cec7b8;
    font-family: 'Comfortaa';
    display: flex;
    justify-content: space-between;
    padding: 0 32px 24px 35px;
    flex-direction: column;

    @media only screen and (max-width: 1180px) {
      padding: 15px;
    }

    .header {
      @media only screen and (max-width: 1180px) {
        margin-top: 15px;
      }
      span {
        font-family: 'League Gothic';
        line-height: 225px;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 86px;

        @media only screen and (max-width: 1180px) {
          font-size: 65px;
          line-height: 50px;
        }
        span {
          font-size: 36px;

          @media only screen and (max-width: 1180px) {
            font-size: 26px;
          }
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        max-width: 210px;

        @media only screen and (max-width: 1180px) {
          max-width: 100%;
        }
      }
    }
  }
  .footer {
    line-height: 24px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1180px) {
      flex-direction: column-reverse;
    }

    div {
      display: flex;
      flex-direction: column;
    }
    .mail {
      font-size: 18px;
      font-weight: 700;
      text-decoration: underline;
    }
    .number {
      font-size: 16px;
      font-weight: 600;
      margin-top: 19px;
    }
    ul {
      display: flex;
      list-style: none;
      align-items: flex-end;

      @media only screen and (max-width: 1180px) {
        padding: 0;
        margin-top: 200px;
        margin-bottom: 100px;
      }

      li {
        margin-right: 25px;
        width: 27px;
        height: 27px;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  .googlemap {
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translate(0, -50%);
    font-family: 'Comfortaa';
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #cec7b8;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    &::after {
      content: url(../../assets/rightarrow.svg);
      margin-left: 10px;
    }

    @media only screen and (max-width: 1180px) {
      display: none;
    }
  }
}
