@import '../../styles/variables';


.menu {
    display: flex;
    width: 100%;

    @include sm {
        flex-direction: column;
    }

    .wrap {
        background: #161616;
        border: 1px solid #CEC7B8;
        margin-top: 10px;
        width: calc(50% - 10px);
        margin-bottom: 10px;
        min-width: calc(50% - 10px);
        height: initial;
        color: aquamarine;

        @include sm {
            width: calc(100% - 10px);
            margin-bottom: 0px;
            height: 50%;
        }

        &:nth-child(1) {
            margin-right: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &:nth-child(2) {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    .listWrapper {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;

        @include sm {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }

    .link {
        display: flex;
        flex-direction: column;
    }

    .nft {
        display: flex;

    }

    a {
        font-family: "League Gothic";
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        height: 60px;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #CEC7B8;
        text-align: left;

        @include xl {
            font-size: 4vw;
            line-height: 4vw;
            margin-bottom: 0;
        }

        @include sm {
            font-size: 44px;
            line-height: initial;
            margin-bottom: 0;

        }
    }

    .contactText {
        @include xl {
            margin-left: 15px;
            margin-right: 15px;
            max-width: 100%;
        }

        @include sm {
            display: none;
        }

        hr {
            margin: 0 auto;
            margin-bottom: 0;
            width: 128px;
            margin-top: 7vh;
        }

        p {
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            /* or 179% */

            text-align: center;
            text-transform: capitalize;

            color: #CEC7B8;
            max-width: 582px;
            margin: 0 auto;
            padding-top: 27px;
        }
    }

    .contactLogo {
        width: 158px;
        height: 158px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 93px;
        border: 1px solid #CEC7B8;
        border-radius: 50%;

        @include xl {
            margin-top: 10px;
        }

        @include sm {
            display: none;
        }

        div {
            background-image: url('../../assets/khidilogo.png');
            height: 51px;
            width: 45px;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 53px 53px 53px 55px;
            margin-bottom: -8px;
        }

        p {
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 25px;
            /* identical to box height, or 179% */

            text-align: center;
            text-transform: uppercase;

            color: #CEC7B8;
            padding-top: 10px;
        }
    }

    .register {


        @include sm {
            margin-top: 56px;
            margin-bottom: 69px;
        }

        h2 {
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            /* or 100% */

            text-transform: uppercase;

            text-align: center;

            margin-bottom: 30px;
            color: #CEC7B8;
            transition: 0.3s ease-in-out;

            @include lg {
                font-size: 2vw;
            }

            @include sm {
                font-size: 24px;

                margin-bottom: 40px;
            }
        }

        p {
            max-width: 308px;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            /* or 179% */

            text-align: center;
            text-transform: capitalize;
            margin: 0 auto;
            color: #CEC7B8;
        }

        hr {
            margin: 0 auto;
            width: 50px;
            margin-top: 16px;
            margin-bottom: 100px;

            @include sm {
                display: none;
            }
        }

    }

    .arrow {
        background-image: url("../../assets/arrow.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 46px;
        height: 49px;
        margin-top: 15px;
        margin-left: 16px;

        @include xl {
            width: 3vw;
            height: 3vw;
            margin-top: 0px;
        }

        @include sm {
            display: none;
        }
    }

    .sign {
        text-align: center;

        @include sm {
            margin-bottom: 51px;
        }

        button {
            font-family: "Comfortaa";
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 24px;
            text-transform: uppercase;
            color: #CEC7B8;
            background: transparent;
            outline: none;
            border: none;
            width: 170px;
            height: 50px;
            line-height: 50px;
            cursor: pointer;

            @include xl {
                font-size: 1.8vw;
                width: 140px;
            }

            @include sm {
                font-size: 24px;

            }

            &:nth-child(1) {
                border-right: 2px solid #C4C4C4;
            }
        }
    }
}