.Error {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 1180px) {
    flex-direction: column;
  }

  .errortitle {
    flex: 1 1 33%;
    padding: 43px 47px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @media only screen and (max-width: 1180px) {
      padding: 15px 22px 2px 15px;
    }

    h2 {
      font-family: "League Gothic";
      font-size: 250px;
      font-weight: 400;
      line-height: 225px;
      color: #cec7b8;
      text-transform: uppercase;
    }
    p {
      font-family: "League Gothic";
      font-size: 112px;
      font-weight: 400;
      line-height: 225px;
      letter-spacing: 0em;
      text-transform: uppercase;
      color: #cec7b8;
    }
  }
  .middlecontent {
    flex: 1 1 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;

    @media only screen and (max-width: 1180px) {
      padding: 100px 0;
    }

    img {
      width: 190px;
      height: 190px;
    }
    span {
      font-family: "Comfortaa";
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: center;
      color: #cec7b8;
      text-transform: uppercase;
      margin-top: 40px;
      max-width: 300px;
    }
  }
  .contactinfo {
    flex: 1 1 33%;
    color: #cec7b8;
    font-family: "Comfortaa";
    display: flex;
    justify-content: space-between;
    padding: 0 32px 24px 35px;
    flex-direction: column;

    @media only screen and (max-width: 1180px) {
      padding: 15px;

      align-items: center;
      text-align: center;
    }

    .header {
      @media only screen and (max-width: 1180px) {
        margin-top: 15px;
      }
      span {
        font-family: "League Gothic";
        line-height: 225px;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 86px;

        @media only screen and (max-width: 1180px) {
          font-size: 65px;
          line-height: 50px;
        }
        span {
          font-size: 36px;

          @media only screen and (max-width: 1180px) {
            font-size: 26px;
          }
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        max-width: 210px;

        @media only screen and (max-width: 1180px) {
          max-width: 100%;
        }
      }
    }
  }
  .footer {
    line-height: 24px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1180px) {
      flex-direction: column-reverse;
    }

    div {
      display: flex;
      flex-direction: column;
    }
    .mail {
      font-size: 18px;
      font-weight: 700;
      text-decoration: underline;
    }
    .number {
      font-size: 16px;
      font-weight: 600;
      margin-top: 19px;
    }
    ul {
      display: flex;
      list-style: none;
      align-items: flex-end;

      @media only screen and (max-width: 1180px) {
        padding: 0;
        margin-top: 200px;
        margin-bottom: 100px;
      }

      li {
        margin-right: 25px;
        width: 27px;
        height: 27px;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  .googlemap {
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translate(0, -50%);
    font-family: "Comfortaa";
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #cec7b8;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    &::after {
      content: url(../../assets/rightarrow.svg);
      margin-left: 10px;
    }

    @media only screen and (max-width: 1180px) {
      display: none;
    }
  }
}
