@import '../../../styles/variables';

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
  background-color: #615b5b33;
  padding: 36px 30px 23px;

  .head {
    h3 {
      color: #cec7b8;
      text-transform: uppercase;
      font-size: 44px;
      width: 295px;
      font-weight: 400;
      line-height: 49px;
      margin-bottom: 20px;

      @include useTeko;
    }

    p {
      font-size: 16px;
      margin-left: 3px;
      color: #cec7b8;
      font-weight: 600;
      font-weight: 25px;
      width: 255px;

      @include useComfortaa;
    }
  }

  figure {
    position: relative;
    width: 44px;
    height: 51px;
    margin-left: 4px;
  }
}
