.Editprofile {
  padding: 157px 147px 46px 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media screen and (max-width: 1180px) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    padding: 25px 22px 25px 22px;
    height: 60vh;
    overflow-y: scroll;
    border-radius: 40px 40px 0px 0px;
    background-color: #1b1b1b;
  }

  .close {
    position: absolute;
    right: 40px;
    top: 44px;

    button {
      @media screen and (max-width: 1180px) {
        display: none;
      }

      display: flex;
      align-items: center;
      cursor: pointer;
      background: transparent;
      border: none;

      span {
        font-family: "Helvetica";
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0em;
        text-transform: lowercase;
        color: #cec7b8;
      }

      img {
        margin-right: 33px;
      }
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1180px) {
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      margin-bottom: 63px;
    }

    button {
      display: none;
      @media screen and (max-width: 1180px) {
        display: block;
        border: none;
        background: transparent;
        cursor: pointer;
      }

      img {
        @media screen and (max-width: 1180px) {
          width: 14px;
          height: 14px;
        }
      }
    }

    &::after {
      content: "";
      display: block;
      border: 1px solid #cec7b8bf;
      margin-bottom: 120px;
      width: 70px;

      @media screen and (max-width: 1180px) {
        display: none;
      }
    }

    h2 {
      font-family: "Comfortaa";
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-transform: uppercase;
      color: #cec7b8;

      @media screen and (max-width: 1180px) {
        font-family: "Teko";
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0em;
      }
    }
    p {
      font-family: "Comfortaa";
      font-size: 12px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      margin-bottom: 20px;
      margin-top: 38px;
      text-transform: capitalize;
      color: #cec7b8;
      max-width: 300px;
      text-align: center;

      @media screen and (max-width: 1180px) {
        display: none;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1180px) {
      width: 100%;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #cec7b8 !important;
    }

    button {
      margin-top: 70px;
      background: transparent;
      font-family: "Teko";
      font-size: 24px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0em;
      color: #cec7b8;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      border: none;

      &::after {
        content: "";
        display: block;
        width: 87px;
        border-bottom: 2px solid #cec7b8;
        margin-top: 11px;
      }
    }
  }

  background-color: #000000;
  .inputwrapper {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1180px) {
      flex-direction: column;
      width: 100%;
      flex-wrap: nowrap;
    }

    .inputs {
      background: transparent;
      outline: none !important;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid rgba(206, 199, 184, 0.75);
      padding: 5px;
      flex: 1 33%;
      color: #cec7b8;
      background-color: rgba(0, 0, 0, 0);

      @media screen and (max-width: 1180px) {
        margin: 0 0 26px 0;
      }

      @media screen and (max-width: 1180px) {
        flex: 1 1 100%;
      }

      &:nth-child(even) {
        margin-left: 70px;
        margin-top: 27px;

        @media screen and (max-width: 1180px) {
          margin-left: 0;
          margin-top: 0;
        }
      }
      &:nth-child(odd) {
        margin-top: 27px;

        @media screen and (max-width: 1180px) {
          margin-top: 0;
        }
      }

      &:nth-child(2),
      &:nth-child(1) {
        margin-top: 0;

        @media screen and (max-width: 1180px) {
          margin-top: 0;
        }
      }

      &::placeholder {
        font-family: "Comfortaa";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #cec7b8a8;
      }
    }
  }
}
