@import '../../styles/variables';

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 160px;
    font-family: Helvetica;
    transition: 0.3s ease-in-out;

    @include nav {
        height: 110px;
    }

    @include xl {
        height: 110px;
    }

    @include sm {
        border-bottom: 1px solid #cec7b8;
        background: #161616;
        height: 110px;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .logo {
        background: #161616;
        border: 1px solid #cec7b8;
        border-top: 0;
        border-left: 0;

        @include sm {
            background: transparent;
            border: none;
        }

        a {
            width: 57px;
            height: 65px;

            margin: 49px 0 0 38px;
            display: block;
            transition: 0.3s ease-in-out;

            @include nav {
                margin: 25px 0 0 38px;
            }

            @include xl {
                margin: 25px 0 0 38px;
            }

            @include sm {
                margin: 25px 0 0 38px;
            }
        }

        .image {
            background-image: url('../../assets/khidilogo.png');
            background-repeat: no-repeat;
            background-size: cover;
            transition: 0.3s ease-in-out;
            width: 57px;
            height: 65px;
        }
    }

    .navWrapper {
        background: #161616;
        border: 1px solid #cec7b8;
        border-top: 0;
        border-right: 0;

        display: flex;
        justify-content: space-between;
        padding-left: 38px;
        padding-right: 64px;

        @include md {
            padding-left: 30px;
            padding-right: 25px;
        }

        @include sm {
            background: transparent;
            border: none;
            padding-right: 0;
        }

        nav {
            display: flex;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            /* or 122% */

            text-transform: capitalize;

            color: #cec7b8;
            transition: 0.3s ease-in-out;

            @include sm {
                display: none;
            }

            a {
                height: 27px;
                margin-top: 71px;
                width: 100%;
                line-height: 22px;
                margin-right: 35px;
                transition: 0.3s ease-in-out;

                @include nav {
                    margin-top: 51px;
                }

                @include xl {
                    margin-top: 51px;
                }

                @include md {
                    margin-right: 15px;
                    font-size: 1.5vw;
                }
            }
        }

        .burger {
            display: flex;
            cursor: pointer;

            @include sm {
                justify-content: flex-end;
                width: 100%;
            }

            div {
                background-image: url('../../assets/burgermenu.png');
                background-repeat: no-repeat;
                background-size: cover;
                width: 51px;
                height: 25px;
                margin-right: 35px;
                margin-top: 72px;
                transition: 0.3s ease-in-out;

                @include nav {
                    margin-top: 51px;
                }

                @include xl {
                    margin-top: 51px;
                }

                @include md {
                    width: 41px;
                    height: 20px;
                }

                @include sm {
                    margin-top: 51px;
                }
            }

            p {
                transition: 0.3s ease-in-out;

                font-style: normal;
                font-weight: 300;
                font-size: 18px;

                height: 30px;
                margin-top: 73px;
                line-height: 22px;
                /* or 122% */
                text-transform: lowercase;

                color: #cec7b8;

                @include nav {
                    margin-top: 52px;
                }

                @include xl {
                    margin-top: 52px;
                }

                @include md {
                    font-size: 1.5vw;
                }

                @include sm {
                    margin-top: 52px;

                    display: none;
                }
            }
        }

        .closeBurger {
            display: flex;
            cursor: pointer;

            @include sm {
                justify-content: flex-end;
                width: 100%;
            }

            div {
                transition: 0.3s ease-in-out;

                background-image: url('../../assets/close.png');
                background-repeat: no-repeat;
                background-size: cover;
                width: 28px;
                height: 28px;
                margin-right: 35px;
                margin-top: 72px;

                @include nav {
                    margin-top: 51px;
                }

                @include xl {
                    margin-top: 51px;
                }

                @include md {
                    width: 20px;
                    height: 20px;
                }

                // @include sm {
                //     display: none;
                // }
            }

            p {
                transition: 0.3s ease-in-out;

                font-style: normal;
                font-weight: 300;
                font-size: 18px;

                height: 30px;
                margin-top: 73px;
                line-height: 22px;
                /* or 122% */
                text-transform: lowercase;

                color: #cec7b8;

                @include nav {
                    margin-top: 52px;
                }

                @include xl {
                    margin-top: 52px;
                }

                @include md {
                    font-size: 1.5vw;
                }

                @include sm {
                    display: none;
                }
            }
        }
    }
}
