@import '../../../styles/variables.scss';

.resident {
  width: 100%;
  display: flex;
  height: 100%;

  .contact {
    margin: 20px 27px 10px 0;
    width: 100%;

    // section {
    //   float: right;
    // }

    .contactHeader {
      p {
        position: relative !important;
        margin-top: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #CEC7B8;
        font-family: sans-serif;
        max-width: 100%;
        left: 0px;

        @include md {
          font-size: 1.5vw;
        }

        @include sm {
          font-size: 13px;
          line-height: 5px;
        }
      }

      h2 {
        font-family: 'League Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 97px;

        line-height: 80px;

        text-transform: uppercase;
        color: #CEC7B8;
        margin: 0;
        padding: 0;
        margin-left: auto;
        text-align: right;

        @include md {
          font-size: 8vw !important;
          margin-top: 20px;
          line-height: 5vw !important;
        }

        @include sm {
          font-size: 67px;
        }

        span {
          font-size: 43px;

          @include md {
            font-size: 4vw !important
          }

          @include sm {
            font-size: 33px;
          }

        }
      }
    }

    .contactContent {
      position: absolute;
      bottom: 24px;
      right: 27px;
    }

    button {
      font-family: "League Gothic";
      background: transparent;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 110px;
      line-height: 100px;
      /* or 205% */

      cursor: pointer;
      text-transform: uppercase;

      color: #CEC7B8;
      position: relative;
      padding: 0;

      @include md {
        font-size: 8vw;
      }

      @include sm {
        font-size: 67px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;

        bottom: 0;
        left: 0;
        border-bottom: 4px solid #cec7b8;

        @include sm {
          bottom: 10px;
        }
      }
    }

    .email {
      position: relative;
      font-family: 'Cormorant Garamond';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      /* or 133% */
      cursor: pointer;
      text-decoration-line: underline;
      text-transform: uppercase;

      color: #CEC7B8;

      margin-bottom: 20px;
      margin-top: 10px;
    }

    p {
      position: relative !important;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #CEC7B8;
      font-family: sans-serif;
      height: 25px;
      left: 0;
      text-align: right;
      max-width: 100%;
    }
  }

  .first {
    display: flex;
    background-color: #161616;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 10px 10px 0;
    width: 100%;
    display: block !important;

    .residentAbout {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      bottom: 0;

      @include sm {
        justify-content: center;
      }

      span {
        font-family: 'Teko';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 46px;
        /* or 105% */
        max-width: 350px;
        text-transform: uppercase;
        color: #CEC7B8;
        white-space: pre-line;

        @include md {
          font-size: 3vw;
          line-height: 3vw;
        }

        @include sm {
          display: none;
          font-size: 23px;
          line-height: 23px;
        }
      }

      p {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px !important;
        /* or 157% */
        max-width: 308px;
        text-transform: capitalize;
        padding: 0;
        left: 0;
        color: #CEC7B8;

        position: relative;

        @include md {
          max-width: 250px;
        }

        @include sm {
          // display: none;
          text-align: center;

        }
      }
    }

    .title {
      padding-top: 17px;
      font-family: "League Gothic";
      font-weight: 400;
      font-size: 70px !important;
      color: #cec7b8;
      padding-left: 27px !important;
      line-height: 80px !important;
      margin: 0 !important;
      text-transform: uppercase;
      height: initial !important;

      @include md {
        font-size: 5vw !important;
        line-height: 6vw !important;
      }

      @include sm {
        font-size: 67px !important;
      }

    }

    span {
      font-family: "Teko";
      font-weight: 300;
      font-size: 30px;
      line-height: 38px;
      color: #cec7b8;
      text-transform: uppercase;
      max-width: 200px;
      padding-left: 38px;
      padding-bottom: 10px;


    }

    .subText {
      font-family: "Comfortaa";
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #cec7b8;
      max-width: 300px;
      text-transform: capitalize;
      padding-right: 23px;
      padding-bottom: 10px;
      margin-top: 0;
      left: 0 !important;
    }

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 4vh auto;
      width: 31vw;
      height: 41vh;
      background: transparent;

      @include sm {
        width: 65vw;
        height: 30vh;
        margin: 2.5vh auto;
      }

      .photo {
        // background-image: url(/_next/static/media/resident.8820064c.jpg);
        position: relative;
        background-repeat: no-repeat;
        max-width: 420px;
        max-height: 420px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: block;

        .seeall {
          position: absolute;
          right: -75px;
          bottom: 16px;
          width: 142px;
          height: 142px;
          background-repeat: no-repeat;
          background: center;
          border-radius: 50%;
          display: block;

          @include sm {
            right: -52px;
            bottom: 16px;
            width: 100px;
            height: 100px;
          }

          span {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            padding: 0;
            color: #060606;
            font-family: "Teko";
            font-weight: 400;
            font-size: 30px;
            line-height: 46px;
            text-transform: uppercase;

            @include sm {
              font-size: 18px;
            }
          }

          div {
            font-size: 20px;
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(-120deg);
            background: transparent;

            span {
              position: absolute;
              left: 50%;
              top: -10px;
              font-size: 20px;
              transform-origin: 0 80px;

              @include sm {
                font-size: 14px;
                transform-origin: 0 60px;
              }
            }
          }
        }
      }
    }
  }

  .second {


    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px 10px 0;

    .labelTitle {
      font-family: 'Teko';
      font-style: normal;
      font-weight: 300;
      font-size: 44px;
      line-height: 46px;
      /* or 105% */

      text-transform: uppercase;
      margin: 0;
      padding: 0;
      color: #CEC7B8;
      max-width: 206px;

      @include md {
        font-size: 4vw !important;
        line-height: 4vw !important;
        max-width: 306px;
      }

      @include sm {
        font-size: 32px;
        line-height: 30px;
      }
    }

    .residenthed {
      display: flex;
      justify-content: space-between;
      padding: 31px 27px 0 34px;

      @include md {
        padding: 10px 5px 0 15px;
      }

      @include sm {
        padding: 10px 10px 0 15px;
      }
    }

    // h2 {
    //   font-family: "Teko";
    //   font-weight: 300;
    //   font-size: 44px;
    //   line-height: 46px;
    //   color: #cec7b8;
    //   text-transform: uppercase;
    //   max-width: 230px;
    //   margin: 0;
    // }

    .subText {
      font-family: "Comfortaa";
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #cec7b8;
      max-width:800px;
      text-transform: capitalize;
      padding-right: 23px;
      padding-bottom: 10px;
      margin-top: 0;
      border: none;
      position: relative;
      padding: 0;
      left: 0 !important;

      @include sm {
        font-size: 12px;
      }
    }

    span {
      font-family: "Teko";
      font-weight: 600;
      font-size: 44px;
      line-height: 46px;
      color: #cec7b8;
      text-transform: uppercase;
      text-align: center;

      @include sm {
        font-size: 30px;
        line-height: 30px;
      }
    }

    .circles {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        border-radius: 50%;
        background-size: contain;

        &:nth-child(1) {
          background-color: #161616;
          width: 25px;
          height: 25px;
          z-index: 4;

          @include md {
            width: 1.5vw;
            height: 1.5vw;
          }

          @include sm {
            width: 10px;
            height: 10px;
          }
        }

        &:nth-child(2) {
          background-color: #5ab4e7;
          width: 120px;
          height: 120px;
          z-index: 3;
          border: 1px solid #407fa3;

          @include md {
            width: 5.5vw;
            height: 5.5vw;
          }

          @include sm {
            width: 80px;
            height: 80px;
          }
        }

        &:nth-child(3) {
          background-color: #5ab4e7;
          width: 340px;
          height: 340px;
          z-index: 2;
          border: 1px solid #407fa3;

          @include md {
            width: 21.5vw;
            height: 21.5vw;
          }

          @include sm {
            width: 220px;
            height: 220px;
          }
        }

        &:nth-child(4) {
          background-color: #5ab4e7;
          width: 380px;
          height: 380px;
          z-index: 1;
          border: 1px solid #407fa3;

          @include md {
            width: 25.5vw;
            height: 25.5vw;
          }

          @include sm {
            width: 260px;
            height: 260px;
          }
        }
      }
    }

    .residentfoot {
      display: flex;
      justify-content: space-between;
      padding-left: 34px;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-right: 0;
      background: transparent;

      img {
        width: 57px;
        height: 65px;
      }
    }
  }
}