.wrapper {
  @media screen and (max-width: 1180px) {
    width: 100%;
  }
  .profile {
    background-color: #ab452f;
    padding: 63px 32px 67px 21px;
    flex: 1 1;

    @media screen and (max-width: 1180px) {
      width: 100%;
    }

    .header {
      display: flex;
      margin-bottom: 138px;
      flex-direction: column;
      align-items: center;

      a {
        cursor: pointer;

        img {
          width: 35px;
          height: 40px;
          margin-bottom: 15px;
        }
      }
      h2 {
        font-family: "Comfortaa";
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        color: #131313;
        text-transform: uppercase;
      }
    }
    .title {
      &::after {
        content: "";
        display: flex;
        border-bottom: 1px solid #161616;
        margin-top: 10px;
        margin-bottom: 53px;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-family: "Teko";
          font-size: 24px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: right;
          text-transform: uppercase;
          color: #131313;
        }
        span {
          font-family: "Teko";
          font-size: 24px;
          font-weight: 300;
          line-height: 20px;
          letter-spacing: 0em;
          color: #131313;
          text-transform: uppercase;
          display: flex;
        }
        .icon {
          background-image: url(../../../assets/verified.png);
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          margin-left: 8px;
        }
      }
    }
    .userinfo {
      ul {
        list-style: none;
        padding: 0;
        li {
          font-family: "Comfortaa";
          font-size: 14px;
          font-weight: 500;
          line-height: 23px;
          letter-spacing: 0em;
          color: #161616;
          text-transform: capitalize;

          a {
            text-decoration: underline;
          }
        }
      }
    }
    .editprofile {
      display: flex;
      border-top: 1px solid #161616;
      padding-top: 30px;
      margin-top: 60px;

      button {
        font-family: "Teko";
        font-size: 24px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0em;
        text-transform: uppercase;
        color: #131313;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;

        .editicon {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          background-image: url(../../../assets/editicon.png);
          margin-left: 15px;
        }
      }
    }
  }
  .mobilebtn {
    display: none;

    @media screen and (max-width: 1180px) {
      display: block;
      font-family: "Comfortaa";
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      border: none;
      color: #ab452f;
      background: transparent;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 16px 0;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}
