@import '../../styles/variables';

.eventPage {
  display: flex;
  width: 100%;

  //   div {
  //     div {
  //       div {
  //         p {
  //           position: absolute;
  //           bottom: 10px;
  //           font-family: 'Teko';
  //           font-style: normal;
  //           font-weight: 300;
  //           font-size: 30px;
  //           line-height: 35px;
  //           text-transform: uppercase;
  //           color: #cec7b8;
  //           left: 24px;
  //           max-width: 90%;
  //           overflow: hidden;
  //           text-overflow: ellipsis;
  //           display: -webkit-box;
  //           -webkit-line-clamp: 2;
  //           -webkit-box-orient: vertical;
  //         }

  //         &:nth-child(1) {
  //           h2 {
  //             font-family: 'Teko';
  //             font-style: normal;
  //             font-weight: 400;
  //             font-size: 44px;
  //             color: #161616 !important;
  //             line-height: 46px;
  //             padding-top: 0;
  //             margin-top: 30px;
  //           }

  //           .eventText {
  //             border-left: 2px solid #161616;
  //             color: #161616;
  //             left: 27px;
  //             max-width: 329px;
  //             display: block;
  //             font-family: 'Comfortaa';
  //             font-style: normal;
  //             font-weight: 400;
  //             font-size: 14px;
  //             line-height: 22px;
  //             padding-left: 28px;
  //             text-transform: capitalize;
  //             margin-left: 27px;
  //             position: absolute;
  //             top: 50%;
  //             left: 0;
  //             bottom: initial;
  //             height: initial;
  //             padding-right: 10px;
  //           }
  //         }
  //       }
  //     }
  //   }
}

.eventDetails {
  width: 100%;
  display: flex;

  @include sm {
    flex-direction: column;
  }

  section {
    background: #161616;
    border: 1px solid #cec7b8;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;

    div {
      display: flex;
    }

    .textStyles {
      margin: 46px 37px 0 47px;
      justify-content: space-between;
      border-bottom: 1px solid rgba(96, 94, 92, 0.6);
      transition: 0.3s ease-in-out;

      @include custom {
        margin: 46px 16px 0 16px;
      }

      @include sm {
        background: #161616;
        border: 1px solid #cec7b8;
        margin: 0;
      }

      &:nth-child(2) {
        padding-top: 20px;
        border-top: 1px solid rgba(96, 94, 92, 0.6);
        padding-bottom: 5px;
        margin-top: -2vh;

        @include sm {
          border: none;
          margin-top: 10px;
          padding-top: 0;
          border: 1px solid #cec7b8;

          flex-direction: column;
        }
      }

      h2 {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        text-transform: capitalize;

        color: #cec7b8;

        margin: 0;
        height: 65px;
        line-height: 65px;
        margin-left: 4px;

        @include md {
          font-size: 18px;
        }

        @include sm {
          height: inherit;
          line-height: 21px;
          margin-left: 21px;
          font-size: 16px;
          padding-top: 12px;
        }
      }

      span {
        height: 46px;
        background: #cec7b8;
        width: 2px;
        margin-top: -3px;
        margin-left: 13px;
        margin-right: 18px;

        @include sm {
          height: 40px;

          margin-top: 9px;
          margin-left: 13px;
          margin-right: 18px;
        }
      }

      .secondaryLine {
        margin-right: 13px;
        margin-left: 11px;
      }

      p {
        font-family: 'Teko';
        font-style: normal;
        font-weight: 300;
        font-size: 44px;
        line-height: 46px;
        /* or 105% */

        text-transform: uppercase;

        color: #cec7b8;
        margin: 0;
        margin-right: 10px;

        @include md {
          font-size: 35px;
        }
      }

      .title {
        font-size: 46px !important;
        height: 59px !important;
        line-height: 50px;
        margin-left: 11px;

        @include md {
          font-size: 35px !important;
          height: 50px !important;

          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          max-width: 290px;
        }

        @include custom {
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          max-width: 250px;
        }

        @include sm {
          font-size: 30px !important;
          line-height: 60px;
          margin-left: 21px;
          max-width: initial;
        }
      }
    }

    .price {
      @include sm {
        padding-left: 21px;
        padding-top: 0 !important;
      }

      p {
        &:first-child {
          line-height: 46px;
          height: 35px;

          @include sm {
            line-height: 60px;
            height: 35px;
            font-size: 32px;
            margin-right: 5px;
          }
        }

        &:last-child {
          font-size: 46px;
          line-height: 46px;
          color: #5ab4e7;
          height: 54px;

          @include md {
            font-size: 36px;
          }

          @include sm {
            font-size: 34px;
            line-height: 60px;
            height: 54px;
            margin-right: 21px;
          }
        }
      }
    }

    &:first-child {
      margin-left: 0;
      width: calc(35% - 10px);
      margin-right: 10px;

      @include sm {
        width: calc(100% - 10px);
      }

      .details {
        position: absolute;
        bottom: 24px;
        left: 0;
        right: 0;
        display: initial;

        @include sm {
          display: none;
        }
      }

      hr {
        width: 128px;
        margin: 0 auto;
      }

      .text {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        margin: 0;
        margin-top: 28px;
        text-align: center;
        text-transform: capitalize;
        margin-left: 10px;
        margin-right: 10px;
        color: #cec7b8;
      }
    }

    &:last-child {
      width: calc(65% - 10px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include sm {
        width: calc(100% - 10px);
        background: transparent;
        border: none;
        margin-top: 0;
        height: 100%;
      }
    }

    .subText {
      font-family: 'Comfortaa';
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      text-transform: capitalize;
      font-size: 16px;
      color: #cec7b8;
      max-width: 620px;
      max-height: 201px;
      overflow: auto;
      padding-right: 10px;
      margin-bottom: 35px;
      transition: 0.3s ease-in-out;
      margin-top: 10px;

      @include xl {
        max-width: 550px;
        font-size: 14px;
        max-height: 152px;
      }

      @include md {
        max-width: 450px;
      }

      @include sm {
        background: #161616;
        border: 1px solid #cec7b8;
        margin-top: 10px;
        width: 100%;
        max-width: 100%;
        padding-left: 17px;
        padding-right: 27px;
        padding-top: 30px;
        padding-bottom: 50px;
        font-size: 16px;
        max-height: 100%;
        margin-bottom: 10px;
        height: 100%;
      }

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #cec7b8;
      }
    }

    .action {
      justify-content: space-between;
      margin-left: 42px;
      margin-right: 32px;

      @include lg {
        flex-direction: column;
        transition: 0.3s ease-in-out;
      }

      @include custom {
        margin-left: 16px;
        margin-right: 16px;
      }

      @include sm {
        margin-left: 0;
        margin-right: 0;
        height: 100%;
      }

      button {
        cursor: pointer;
        border: 1px solid #cec7b8;
        font-family: 'Teko';
        font-style: normal;
        font-weight: 300;
        font-size: 44px;
        line-height: 46px;
        /* or 105% */

        text-transform: uppercase;

        color: #5ab4e7;
        width: 267px;
        height: 70px;
        padding-top: 14px;
        padding-bottom: 21px;
        background: transparent;

        margin-bottom: 27px;
        margin-top: auto;

        @include md {
          font-size: 36px;
          line-height: 38px;

          width: 216px;
          height: 56px;
          padding-top: 11px;
        }

        @include sm {
          background: #161616;
          width: 100%;
          margin-bottom: 0;
        }
      }
    }

    .img {
      background-repeat: no-repeat;
      background-size: auto;
      width: calc(100% - 23px) !important;
      background-size: 100% 100% !important;
      margin: 21px auto !important;
      height: 240px;
      border: none;

      @include xl {
        height: 190px;
      }

      @include md {
        height: 160px;
      }

      @include custom {
        height: 140px;
      }

      @include sm {
        height: 191px;
        margin: 10px !important;
        width: calc(100% - 10px) !important;
      }

      @include xs {
        height: 140px;
      }
    }
  }
}
