@import '../../styles/variables';

.menuVisible {
    display: flex !important;

    @include sm {
        padding-bottom: 20px;
    }

    .element {
        background: #161616;
        height: 100%;
        width: calc(50% - 10px);
        border: 1px solid #CEC7B8;


        &:nth-child(1) {
            border-bottom: 0;

            @include sm {
                display: none;
            }
        }

        &:nth-child(2) {
            margin-left: 10px;
            width: calc(50% - 10px);
            border-bottom: 0;

            @include sm {
                background: #161616;
                width: 100%;
                margin-right: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 0;
                border: 1px solid #CEC7B8;

            }
        }
    }



    .wrapper {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            margin-top: 31px;

            @include sm {
                margin-top: 16px;
                padding-left: 0;
            }

            li {
                &:nth-child(1) {
                    background-image: url("../../assets/footer/twitter.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 24px;
                    width: 27px;
                    margin-right: 25px;
                }

                &:nth-child(2) {
                    background-image: url("../../assets/footer/telegram.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 27px;
                    width: 27px;
                    margin-right: 29px;

                }

                &:nth-child(3) {
                    background-image: url("../../assets/footer/instagram.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 24px;
                    width: 24px;
                    margin-right: 27px;

                }

                &:nth-child(4) {
                    background-image: url("../../assets/footer/discord.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 24px;
                    width: 31px;
                }
            }
        }
    }
}


.footer {


    @include nav {
        height: 55px !important;
    }

    @include xl {
        height: 55px !important;
    }

    @include sm {
        display: none !important;
    }



    .element {
        background: #161616;
        height: 100%;
        width: calc(50% - 10px);
        border: 1px solid #CEC7B8;


        &:nth-child(1) {
            border-bottom: 0;
        }

        &:nth-child(2) {
            margin-left: 10px;
            width: calc(50% - 10px);
            border-bottom: 0;
        }
    }
}