.FormLayout {
  background-color: #ab452f;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 96px 43px 96px;

  @media only screen and (max-width: 1180px) {
    padding: 0;
    background-color: transparent;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 1180px) {
      padding-top: 73px;
      background-color: #ab452f;
      width: 100%;
    }

    .logo {
      width: 40px;
      height: 50px;
      color: #161616;
    }
    h2 {
      font-family: "Comfortaa";
      font-weight: 600;
      font-size: 14px;
      line-height: 25px;
      text-transform: uppercase;
      margin: 14px 0 27px 0;
      color: #161616;
    }
    h3 {
      font-family: "Teko";
      font-weight: 400;
      font-size: 40px;
      line-height: 24px;
      color: #000000;
      text-transform: uppercase;
    }
    p {
      font-family: "Comfortaa";
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      text-transform: capitalize;
      color: #161616;
      margin: 51px 0 18px 0;
      max-width: 300px;
      text-align: center;
    }
    hr {
      display: block;
      width: 70px;
      height: 1px;
      border: 0;
      border-top: 1px solid #161616;
      padding: 0;
      margin-bottom: 100px;
    }
  }
  form {
    min-width: 40%;

    @media only screen and (max-width: 1180px) {
      width: 100%;
      background-color: #ab452f;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      outline: none !important;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #161616 !important;
    }

    .inputs {
      @media only screen and (max-width: 1180px) {
        padding: 5px 15px;
      }
    }
    input {
      font-family: "Comfortaa";
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      background: transparent;
      outline: none !important;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #161616;
      padding: 5px;
      width: 100%;
      color: #161616;
      background-color: rgba(0, 0, 0, 0);

      &::placeholder {
        color: #161616;
      }
    }
    .socialselect {
      position: relative;

      .registrinfo {
        position: absolute;
        right: 0;
        top: 0;
        &:hover .profilelink {
          display: block;
          background-color: #000000;
          visibility: visible;
        }
        a {
          position: absolute;
          right: 10px;
          cursor: pointer;
          background-color: #161616;
          width: 20px;
          height: 20px;
          border-radius: 50%;

          img {
            position: absolute;
            right: 9px;
            top: 4px;
          }
        }
        span {
          position: absolute;
          width: 51%;
          right: 18px;
          bottom: -5px;
          background-color: #161616;
          border-radius: 10px;
          padding: 10px;
          visibility: hidden;
          color: #c51010;
          width: 100px;
          font-family: "Comfortaa";
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-transform: capitalize;
        }
      }
    }
    input[type="checkbox"] {
      width: 16px !important;
      height: 16px !important;
      margin: 5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      box-shadow: none;
      font-size: 13px;
      text-align: center;
      line-height: 1em;
      background: transparent;
      border: 1px solid #000000;
      position: relative;
      cursor: pointer;
    }

    input[type="checkbox"]:checked:after {
      content: "✔";
      color: #000000;
      position: absolute;
      top: 1px;
      left: 2px;
    }
  }
  .registration {
    width: 100%;

    .inputWrapper {
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 1180px) {
        flex-direction: column;
      }

      .inputs {
        flex: 1 1 29%;
        position: relative;
        @media screen and (max-width: 1180px) {
          margin-bottom: 10px !important;
        }

        &:nth-child(2),
        &:nth-child(8) {
          margin: 0 60px;

          @media screen and (max-width: 1180px) {
            margin: 0;
          }
        }
        &:nth-child(4),
        &:nth-child(6) {
          margin: 20px 0;

          @media screen and (max-width: 1180px) {
            margin: 0;
          }
        }
        &:nth-child(5) {
          margin: 20px 60px;

          @media screen and (max-width: 1180px) {
            margin: 0;
          }
        }
      }
    }
    select {
      width: 100%;
      background: transparent;
      border: none;
      color: #161616;
      font-family: "Comfortaa";
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      border-bottom: 1px solid #161616;
      padding: 5px;

      @media only screen and (max-width: 1180px) {
        padding: 5px 15px;
      }

      &:focus-visible {
        outline: transparent !important;
      }

      option {
        background-color: #161616;
        color: #cec7b8;
      }
    }
  }
  .login {
    .inputs {
      position: relative;
    }

    .inputWrapper {
      input {
        &:nth-child(1) {
          margin-bottom: 30px;
        }
      }
    }
  }
  .resetPasswordnext {
    img {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .inputWrapper {
      justify-content: center;
      flex-direction: column;
      input {
        &:nth-child(1) {
          margin-bottom: 30px;
        }
      }

      .inputs {
        position: relative;
        flex: 1 1 100%;
      }
    }
  }

  .registrterms {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 1180px) {
      display: none;
    }

    div {
      &:nth-child(1) {
        margin-right: 13px;
      }
    }

    span {
      font-family: "Comfortaa";
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      display: flex;
      padding: 0;

      a {
        color: #ffe1a7;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .loginterms {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1180px) {
      padding: 0 15px;
      padding-bottom: 100px;
    }

    .rememberme {
      display: flex;
      margin-right: 0 !important;
      align-items: center;

      p {
        font-family: "Comfortaa";
        font-weight: 400;
        margin-left: 13px;
        color: #000000;
        font-size: 18px;
        line-height: 24px;

        @media only screen and (max-width: 1180px) {
          font-size: 14px;
          margin-left: 2px;
        }
      }
    }
    span {
      font-family: "Comfortaa";
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      display: flex;
      padding: 0;

      a {
        font-family: "Comfortaa";
        font-weight: 700;
        color: #000000;
        text-decoration: underline;
        cursor: pointer;
        font-size: 18px;

        @media only screen and (max-width: 1180px) {
          font-size: 14px;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 1180px) {
      background-color: #161616;
      padding: 16px 0;
      margin-top: 20px;
    }
    button {
      font-family: "Comfortaa";
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #161616;
      text-transform: capitalize;
      margin-top: 23px;
      background: transparent;
      border: none;
      cursor: pointer;

      @media only screen and (max-width: 1180px) {
        color: #ab452f;
        font-weight: 600;
        margin: 0;
      }
    }
    hr {
      display: block;
      width: 70px;
      height: 2px;
      border: 0;
      border-top: 1px solid #161616;
      padding: 0;
      margin: 11px 0 43px 0;

      @media only screen and (max-width: 1180px) {
        display: none;
      }
    }
  }
}
