.error {
  background-color: #161616;
  padding: 1px 3px 1px 3px;
  position: absolute;
  top: 5px;
  right: 2px;

  span {
    font-family: "Comfortaa";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #c51010;
    text-transform: capitalize;
  }
}
