.ticket {
  display: flex;
  max-height: 215px;
  padding: 40px 52px 43px 37px;
  align-items: center;
  justify-content: space-between;
  flex: 1 1;

  @media only screen and (max-width: 1180px) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    padding: 25px 22px 25px 22px;
    height: 60vh;
    overflow-y: scroll;
    border-radius: 40px 40px 0px 0px;
    background-color: #1b1b1b;
    flex-direction: column;
    max-height: 100%;
    justify-content: inherit;
  }
  h2 {
    font-family: "Teko";
    font-size: 46px;
    font-weight: 300;
    line-height: 50px;
    text-transform: uppercase;
    color: #cec7b8;

    @media screen and (max-width: 1180px) {
      font-size: 24px;
    }
  }
  span {
    font-family: "Comfortaa";
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    text-transform: capitalize;
    color: #cec7b8;
  }
  .header {
    display: none;
    @media screen and (max-width: 1180px) {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 63px;
      display: flex;
    }

    button {
      display: none;
      @media screen and (max-width: 1180px) {
        display: block;
        border: none;
        background: transparent;
        cursor: pointer;
      }

      img {
        @media screen and (max-width: 1180px) {
          width: 14px;
          height: 14px;
        }
      }
    }
    h2 {
      @media screen and (max-width: 1180px) {
        font-family: "Teko";
        font-size: 24px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: right;
        text-transform: uppercase;
      }
    }
  }

  .tickedate {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1180px) {
      width: 100%;
      justify-content: space-between;

      display: none;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-left: 43px;

      @media screen and (max-width: 1180px) {
        align-items: center;
        flex-direction: row;
        margin-left: 20px;
      }
      @media screen and (max-width: 395px) {
        margin-left: 10px;
      }
    }
  }
  .tiketprice {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1180px) {
      display: none;
    }
    button {
      background-color: transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none !important;

      .arrow {
        border: 1px solid #cec7b8;
        border-radius: 50%;
        padding: 25px;
      }
      .qrcode {
        width: 80px;
        height: 80px;
      }
      &::before {
        content: "";
        border: 1px solid #cec7b8;
        margin-left: 36px;
        margin-right: 40px;
        height: 135px;
      }
    }
  }
  * {
    color: #cec7b8;

    .userinfo {
      display: flex;
      flex-direction: column;
      p {
        font-family: "Comfortaa";
        font-size: 16px;
        font-weight: 700;
        line-height: 29px;
      }
      .date {
        font-family: "Comfortaa";
        font-size: 16px;
        font-weight: 700;
        line-height: 29px;
        margin: 12px 0 9px 0;
        text-align: end;
      }
      div {
        display: flex;
        justify-content: flex-end;
        .pricelabel {
          font-family: "Teko";
          font-size: 33px;
          font-weight: 300;
          line-height: 46px;
          text-transform: uppercase;
        }
        .price {
          font-family: "Teko";
          font-size: 32px;
          font-weight: 300;
          line-height: 46px;
          letter-spacing: 0em;
          text-transform: uppercase;
          color: #5ab4e7;
          margin-left: 20px;
        }
        .priceborder {
          font-family: "Teko";
          font-size: 32px;
          font-weight: 300;
          line-height: 46px;
          letter-spacing: 0em;
          text-transform: uppercase;
          color: #5ab4e7;
          margin-left: 20px;

          &::before {
            content: "";
            border-left: 1px solid #cec7b8;
            margin-right: 18px;
          }
        }
      }
    }
  }
  .mobileticket {
    display: none;
    flex-direction: column;
    align-items: baseline;

    @media screen and (max-width: 1180px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
    .pricelabel {
      font-family: "Teko";
      font-size: 33px;
      font-weight: 300;
      line-height: 46px;
      text-transform: uppercase;

      @media screen and (max-width: 395px) {
        font-size: 24px;
      }
    }

    .priceborder {
      font-family: "Teko";
      font-size: 32px;
      font-weight: 300;
      line-height: 46px;
      letter-spacing: 0em;
      text-transform: uppercase;
      color: #5ab4e7;
      margin-left: 20px;
      margin-right: 20px;

      @media screen and (max-width: 395px) {
        font-size: 24px;
        margin: 0 10px;
      }

      &::before {
        content: "";
        border-left: 1px solid #cec7b8;
        margin-right: 18px;
      }
    }

    img {
      @media screen and (max-width: 1180px) {
        height: 100px;
        width: auto;
        max-width: 155px;
      }
      @media screen and (max-width: 540px) {
        height: 38px;
      }
      @media screen and (max-width: 395px) {
        height: 30px;
      }
    }
    .about {
      margin-left: 20px;
      h2 {
        font-family: "Teko";
        font-size: 46px;
        font-weight: 300;
        line-height: 50px;
        text-transform: uppercase;
        color: #cec7b8;

        @media screen and (max-width: 1180px) {
          font-size: 24px;
        }
      }
      span {
        font-family: "Comfortaa";
        font-size: 16px;
        font-weight: 700;
        line-height: 29px;
        text-transform: capitalize;
        color: #cec7b8;

        @media screen and (max-width: 1180px) {
          font-size: 12px;
        }
      }
    }
    .userinfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        font-family: "Comfortaa";
        font-size: 16px;
        font-weight: 700;
        line-height: 29px;
      }
      .date {
        font-family: "Comfortaa";
        font-size: 16px;
        font-weight: 700;
        line-height: 29px;
        margin: 12px 0 9px 0;
        text-align: end;
      }
      div {
        display: flex;
        justify-content: flex-end;

        &:nth-child(1) {
          flex-direction: column;
          margin-left: 20px;
        }
        .pricelabel {
          font-family: "Teko";
          font-size: 33px;
          font-weight: 300;
          line-height: 46px;
          text-transform: uppercase;
        }
        .price {
          font-family: "Teko";
          font-size: 32px;
          font-weight: 300;
          line-height: 46px;
          letter-spacing: 0em;
          text-transform: uppercase;
          color: #5ab4e7;
          margin-left: 20px;
        }
      }
      hr {
        content: "";
        border-right: 1px solid #cec7b8;
        height: 135px;
        margin: 0 20px;
      }
    }
  }
}
