.terms {
  display: flex;

  @media screen and (max-width: 1180px) {
    flex-direction: column;
    padding: 25px;
    text-align: center;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;

    h2 {
      font-family: "League Gothic";
      font-size: 90px;
      font-weight: 400;
      line-height: 102px;
      color: #cec7b8;
      text-transform: uppercase;
    }
  }
  .content {
    flex-direction: column;
    flex: 1 1 50%;
    height: 70vh;
    padding: 100px 50px 0 100px;

    @media screen and (max-width: 1180px) {
      height: 100%;
      margin-top: 40px;
      padding: 0;
    }

    .scrollcontent {
      overflow-y: scroll;
      height: 60vh;

      @media screen and (max-width: 1180px) {
        height: 100%;
        overflow: auto;
      }

      &::-webkit-scrollbar {
        background: #c4c4c4;
        border-radius: 6px;
        width: 4px;
        left: 50px;
      }
      &::-webkit-scrollbar-thumb {
        background: #4c82a0;
      }
      p {
        font-family: "Comfortaa";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #cec7b8;
        margin-bottom: 80px;
        padding-right: 100px;
        text-transform: capitalize;

        @media screen and (max-width: 1180px) {
          padding-right: 0;
        }

        &:last-of-type {
          margin-bottom: 10px;
        }
      }
    }
  }
}
