@import '../../styles/variables.scss';

.event {
  padding: 15px 15px 22px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .top {
    display: flex;
    flex-direction: column;

    figure {
      cursor: pointer;
      position: relative;
      margin-bottom: 55px;
      width: 100%;
      height: 175px;

      @include md {
        height: 11.5vw;
      }
    }

    .title {
      margin-left: 10px;
      font-size: 14px;
      line-height: 24px;
      color: #cec7b8;
      transition: color 0.3s;

      @include useComfortaa;
    }

    .category {
      margin-left: 10px;
      font-size: 14px;
      color: #cec7b8;
      line-height: 24px;

      @include useComfortaa;
    }
  }

  .info {
    font-size: 30px;
    line-height: 35px;
    width: 200px;
    text-transform: uppercase;
    color: #cec7b8;

    @include useTeko;
  }

  &:hover {
    .top {
      .title {
        color: #5ab4e7;
      }
    }
  }
}
