@import '../../styles/variables';

.slider {
  width: 100%;
  height: auto;
  margin: 10px 5px !important;

  @include sm {
    // height: calc(100vh - 110px);
  }

  .slide {
    border: 1px solid #cec7b8;
    margin: 0 5px;
    background-color: #161616;
  }

  .size-1 {
    width: calc(25% - 10px);

    @include sm {
      width: calc(100% - 10px);
    }
  }

  .size-2 {
    width: calc(50% - 10px);

    @include sm {
      width: calc(100% - 10px);
    }
  }
}
