@mixin nav {
  @media (max-height: 750px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 1200px) and (min-width: 769px) {
    @content;
  }
}

@mixin custom {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 428px) {
    @content;
  }
}

@mixin smMin {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin useTeko {
  font-family: 'Teko', sans-serif;
}

@mixin useComfortaa {
  font-family: 'Comfortaa', cursive;
}
